h1{
    color: brown;
    letter-spacing: -1px;
    text-transform: capitalize;
    width: 650px;
    text-shadow: 1px 1px 1px green;
    font-family: 'Notable', sans-serif;
}

p{
    width: 650px;
    font-size: 18px;
    font-family: Verdana, Arial, sans-serif;
}